.product-form {
  min-width: 120px;
  margin: 20px auto;
}

.mat-radio-button {
  display: block;
  margin: 5px 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
}

.col:last-child {
  margin-right: 0;
}
.img-prod-upload{
  width: 40px;
  width: 200px;
    height: 200px;
    border-radius: 50%;
    border: solid 1px dashed #ead125;
}
