<div class="contenedor-datos">
  <div class="title-products">
    <h1>Informaci&oacute;n personal</h1>
  </div>
  <div class="mat-elevation-z8">
    <form [formGroup]="profileForm" novalidate (ngSubmit)="onSubmit()">
      <mat-card class="personal-information-card">
        <mat-card-content>
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <input
                  matInput
                  placeholder="Nombre empresa"
                  formControlName="nameStore"
                  required
                  maxlength="30"
                  autocomplete="off"
                />
                <mat-icon matSuffix>business</mat-icon>
                <mat-error
                  class="alerta"
                  *ngIf="profileForm.controls['nameStore'].hasError('required')"
                >
                  Campo requerido
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <input
                  matInput
                  placeholder="URL tienda"
                  formControlName="urlStore"
                  required
                  maxlength="30"
                  autocomplete="off"
                />
                <mat-hint align="start"
                  >https://superstore.web.app/{{
                    profileForm.controls["urlStore"].value
                  }}</mat-hint
                >
                <mat-icon matSuffix>link</mat-icon>
                <mat-error
                  class="alerta"
                  *ngIf="profileForm.controls['urlStore'].hasError('required')"
                >
                  Campo requerido
                </mat-error>
                <mat-error
                  class="alerta"
                  *ngIf="profileForm.controls['urlStore'].hasError('pattern')"
                >
                  No puede contener símbolos especiales ni espacios
                </mat-error>
                <mat-error
                  class="alerta"
                  *ngIf="profileForm.controls['urlStore'].hasError('minlength')"
                >
                  Debe contener al menos 3 caracteres
                </mat-error>
                <mat-error
                  class="alerta"
                  *ngIf="
                    profileForm.controls['urlStore'].hasError('nameStoreExists')
                  "
                >
                  El nombre para tu página web ya existe, por favor intenta
                  nuevamente
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <input
                  matInput
                  maxlength="15"
                  placeholder="Whatsapp para recibir ventas"
                  type="tel"
                  formControlName="phoneNumberStore"
                  required
                  maxlength="20"
                  autocomplete="off"
                />
                <mat-icon matSuffix>whatsapp</mat-icon>
                <mat-error
                  class="alerta"
                  *ngIf="
                    profileForm.controls['phoneNumberStore'].hasError(
                      'required'
                    )
                  "
                >
                  Campo requerido
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <input
                  matInput
                  placeholder="Nombre administrador"
                  formControlName="manager"
                  maxlength="50"
                  autocomplete="off"
                />
                <mat-icon matSuffix>manage_accounts</mat-icon>
                <mat-error
                  class="alerta"
                  *ngIf="profileForm.controls['manager'].hasError('required')"
                >
                  Campo requerido
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <textarea
                  matInput
                  placeholder="Descripión"
                  formControlName="description"
                  maxlength="200"
                ></textarea>
                <mat-hint align="end">
                  {{ profileForm.controls["description"].value?.length }} /
                  200</mat-hint
                >
              </mat-form-field>
            </div>
          </div>
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Categoría</mat-label>
            <mat-select formControlName="category" name="car" required>
              <mat-select-trigger>
                <span *ngIf="profileForm.controls['category'].value">
                  {{ profileForm.controls["category"].value }}
                </span>
              </mat-select-trigger>
              <mat-option value="" selected>Seleccione...</mat-option>
              <mat-option
                *ngFor="let category of categorias"
                [value]="category.nombre"
              >
                <span matPrefix style="margin-right: 8px"
                  ><mat-icon>{{ category.icono }}</mat-icon></span
                >
                {{ category.nombre }}
              </mat-option>
            </mat-select>
            <mat-error
              class="alerta"
              *ngIf="profileForm.controls['category'].hasError('required')"
            >
              Campo requerido
            </mat-error>
          </mat-form-field>

          <!-- <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <textarea
                  matInput
                  placeholder="Mensaje para cliente"
                  formControlName="messageClients"
                ></textarea>
              </mat-form-field>
            </div>
          </div> -->
          <div class="row">
            <div class="col">
              <div class="uploader">
                <input
                  #uploadImage
                  mat-raised-button
                  type="file"
                  accept="image/*"
                  required
                  id="file-upload"
                  (change)="previewImage($event)"
                />
                <input
                  type="hidden"
                  name="fileHidden"
                  formControlName="imageStore"
                />
                <label for="file-upload" id="file-drag">
                  <img
                    class="hidden file-image"
                    *ngIf="image$ | async as image; else preview"
                    [src]="image"
                  />
                  <ng-template #preview>
                    <img
                      class="hidden file-image"
                      *ngIf="imageURL as image"
                      [src]="image"
                    />
                  </ng-template>
                  <div id="start">
                    <div *ngIf="!imageURL && imageURL === ''">
                      <mat-icon aria-hidden="true">cloud_upload</mat-icon>
                      <div>Seleccione logo</div>
                    </div>
                    <div id="notimage" class="hidden">
                      Por favor seleccione un logo
                    </div>
                    <span id="file-upload-btn" class="btn btn-primary"
                      >Seleccione logo</span
                    >
                  </div>
                  <div id="response" class="hidden">
                    <div id="messages"></div>
                    <progress class="progress" id="file-progress" value="0">
                      <span>0</span>%
                    </progress>
                  </div>
                </label>
              </div>
            </div>
          </div>
        </mat-card-content>

        <mat-card-actions>
          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="profileForm.invalid || (profileForm.untouched && !file)"
          >
            Guardar
          </button>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>
</div>
<app-spinner [showSpinner]="showSpinner"></app-spinner>
