<div class="contenedor-datos">
  <div class="title-products">
    <h1>Informaci&oacute;n personal</h1>
  </div>
  
  <div class="mat-elevation-z8">
    <form [formGroup]="profileForm" novalidate (ngSubmit)="onSubmit()">
      <mat-card class="personal-information-card">
        <mat-card-content>
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <input
                  matInput
                  placeholder="Nombre empresa"
                  formControlName="nameStore"
                  required
                />
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <input
                  matInput
                  placeholder="URL tienda"
                  formControlName="urlStore"
                  required
                />
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <input
                  matInput
                  maxlength="15"
                  placeholder="Whatsapp para recibir compras"
                  type="tel"
                  formControlName="phoneNumberStore"
                  required
                />
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <input
                  matInput
                  placeholder="Nombre administrador"
                  formControlName="manager"
                />
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <textarea
                  matInput
                  placeholder="Descripión"
                  formControlName="description"
                ></textarea>
              </mat-form-field>
            </div>
          </div>
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Categoría</mat-label>
            <mat-select
              matNativeControl
              formControlName="category"
              name="car"
              required
            >
              <mat-option value="" selected>Seleccione...</mat-option>
              <mat-option *ngFor="let category of categorias" [value]="category">
                {{ category }}
              </mat-option>
            </mat-select>
            <mat-error
              class="alerta"
              *ngIf="
                profileForm.controls['category'].hasError('required')
              "
            >
              Campo requerido
            </mat-error>
          </mat-form-field>
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <input
                  matInput
                  placeholder="Redes sociales"
                  formControlName="socialNetwork"
                  required
                />
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <textarea
                  matInput
                  placeholder="Mensaje para cliente"
                  formControlName="messageClients"
                ></textarea>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="uploader">
                <input
                  #uploadImage
                  mat-raised-button
                  type="file"
                  accept="image/*"
                  required
                  id="file-upload"
                  (change)="previewImage($event)"
                />
                <input
                  type="hidden"
                  name="fileHidden"
                  formControlName="imageStore"
                />
                <label for="file-upload" id="file-drag">
                  <img
                    *ngIf="imageURL && imageURL !== ''"
                    [src]="imageURL"
                    alt="Preview"
                    class="hidden file-image"
                  />
                  <div id="start">
                    <div *ngIf="!imageURL && imageURL === ''">
                      <mat-icon aria-hidden="true">cloud_upload</mat-icon>
                      <div>Seleccione logo</div>
                    </div>
                    <div id="notimage" class="hidden">
                      Por favor seleccione un logo
                    </div>
                    <span id="file-upload-btn" class="btn btn-primary"
                      >Seleccione logo</span
                    >
                  </div>
                  <div id="response" class="hidden">
                    <div id="messages"></div>
                    <progress class="progress" id="file-progress" value="0">
                      <span>0</span>%
                    </progress>
                  </div>
                </label>
              </div>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="profileForm.invalid"
          >
            Guardar
          </button>
          
        </mat-card-actions>
      </mat-card>
    </form>
  </div>
</div>
