<h2 mat-dialog-title>Confirmación</h2>
<mat-dialog-content class="mat-typography">
  <p>
    Publicar y/o actualizar <strong>"{{ data.nameStore }}"</strong> store?
  </p>
  <p [cdkCopyToClipboard]="data.urlStore" matRipple>
    <small>
      Copiar url de tienda
      <mat-icon matTooltip="Copiar url de tu nueva tienda" class="icon-small"
        >content_copy</mat-icon
      ></small
    >
  </p>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-raised-button color="secondary" mat-dialog-close>
    {{ data.btn1 }}
  </button>
  <button
    mat-raised-button
    color="primary"
    [mat-dialog-close]="true"
    cdkFocusInitial
  >
    {{ data.btn2 }}
  </button>
</mat-dialog-actions>
