<mat-dialog-content class="mat-typography">
  <mat-card class="example-card">
    <mat-card-header>
      <img
        mat-card-avatar
        [src]="data.imageStore"
        alt="Logo"
        class="store-header-image"
      />

      <mat-card-title>{{ data.nameStore }}</mat-card-title>
      <mat-card-subtitle
        ><a [href]="data.urStore" target="_blanck">{{
          data.urStore
        }}</a></mat-card-subtitle
      >
    </mat-card-header>

    <mat-card-content>
      <p>
        {{ data.description }}
      </p>
    </mat-card-content>
  </mat-card>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-raised-button color="secondary" (click)="onNoClick()">
    {{ data.btn1 }}
  </button>
  <button
    mat-raised-button
    color="primary"
    [mat-dialog-close]="true"
    cdkFocusInitial
  >
    {{ data.btn2 }}
  </button>
</mat-dialog-actions>
