.contenedor-datos{
  margin: 20px;
}

.products-table {
  width: 98%;
  margin: 1%;
}

.header-spacer {
  flex: 1 1 auto;
}
.title-products{
  display: flex;
  justify-content: space-between;
}

img {
  width: 50px;
  height: auto;
  border-radius: 3px;
}

.ancho-fijo-columna {
  width: 20%;
}
.btns {
  text-align: right;
}