.products-table {
  width: 98%;
  margin: 1%;
}

img {
  width: 50px;
  height: auto;
  border-radius: 3px;
}

.ancho-fijo-columna {
  width: 20%;
}

.title-products{
  display: flex;
  justify-content: space-between;
}

.btns {
  text-align: right;
}