<h2 mat-dialog-title>Asistente SuperStoreEc</h2>

<h3>Configuremos tu nueva tienda</h3>
<p>
  <mat-stepper orientation="vertical" linear="true" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Nombre de tu tienda</ng-template>
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Nombre del negocio/ Marca</mat-label>
          <input
            matInput
            placeholder="Nombre del negocio"
            formControlName="nameStore"
            required
            autocomplete="off"
          />
          <mat-icon matSuffix>business</mat-icon>
          <mat-error
            class="alerta"
            *ngIf="firstFormGroup.controls['nameStore'].hasError('required')"
          >
            Campo requerido
          </mat-error>
          <mat-error
            class="alerta"
            *ngIf="firstFormGroup.controls['nameStore'].hasError('minlength')"
          >
            Debe contener al menos 3 caracteres
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Nombre página web</mat-label>
          <input
            matInput
            placeholder="superstoreec.app/NombreDelNegocio"
            formControlName="urlStore"
            required
            autocomplete="off"
            
          />
          <mat-hint align="start">https://superstore.web.app/{{firstFormGroup.controls['urlStore'].value}}</mat-hint>
          <mat-icon matSuffix>link</mat-icon>
          <mat-error
            class="alerta"
            *ngIf="firstFormGroup.controls['urlStore'].hasError('required')"
          >
            Campo requerido
          </mat-error>
          <mat-error
            class="alerta"
            *ngIf="firstFormGroup.controls['urlStore'].hasError('pattern')"
          >
            Recuerda que tu dirección web solo puede contener números y letras
          </mat-error>
          <mat-error
            class="alerta"
            *ngIf="firstFormGroup.controls['urlStore'].hasError('minlength')"
          >
            Debe contener al menos 3 caracteres
          </mat-error>
          <mat-error
            class="alerta"
            *ngIf="firstFormGroup.controls['urlStore'].hasError('nameStoreExists')"
          >
            El nombre para tu página web ya existe, por favor intenta nuevamente
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Descripci&oacute;n</mat-label>
          <textarea
            name="descripcion"
            id="descripcion"
            matInput
            placeholder="Descripci&oacute;n"
            formControlName="description"
          ></textarea>
        </mat-form-field>
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Categoría</mat-label>
          <mat-select
            matNativeControl
            formControlName="category"
            name="car"
            required
          >
            <mat-select-trigger>
              <span *ngIf="firstFormGroup.controls['category'].value">
                {{ firstFormGroup.controls["category"].value }}
              </span>
            </mat-select-trigger>
            <mat-option value="" selected>Seleccione...</mat-option>
            <mat-option
              *ngFor="let category of categorias"
              [value]="category.nombre"
            >
              <span matPrefix style="margin-right: 8px"
                ><mat-icon>{{ category.icono }}</mat-icon></span
              >
              {{ category.nombre }}
            </mat-option>
          </mat-select>
          <mat-error
            class="alerta"
            *ngIf="firstFormGroup.controls['category'].hasError('required')"
          >
            Campo requerido
          </mat-error>
        </mat-form-field>
        <div class="row">
          <div class="col">
            <div class="uploader">
              <input
                #uploadImage
                mat-raised-button
                type="file"
                accept="image/*"
                required
                id="file-upload"
                (change)="previewImage($event)"
              />
              <input
                type="hidden"
                name="fileHidden"
                formControlName="imageStore"
              />
              <label for="file-upload" id="file-drag">
                <img
                  *ngIf="imageURL && imageURL !== ''"
                  [src]="imageURL"
                  alt="Preview"
                  class="hidden file-image"
                />
                <div id="start">
                  <div *ngIf="!imageURL && imageURL === ''">
                    <mat-icon aria-hidden="true">cloud_upload</mat-icon>
                    <div>Seleccione logo</div>
                  </div>
                  <div id="notimage" class="hidden">
                    Por favor seleccione un logo
                  </div>
                  <span id="file-upload-btn" class="btn btn-primary"
                    >Seleccione logo</span
                  >
                </div>
                <div id="response" class="hidden">
                  <div id="messages"></div>
                  <progress class="progress" id="file-progress" value="0">
                    <span>0</span>%
                  </progress>
                </div>
              </label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button
              appearance="fill"
              class="spacer-top"
              mat-raised-button
              color="primary"
              matStepperNext
            >
              Siguiente
            </button>
          </div>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Contacto propietario</ng-template>
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Whatsapp</mat-label>
          <input
            matInput
            type="tel"
            formControlName="phoneNumberStore"
            placeholder="593990123456"
            required
          />
          <mat-icon matSuffix>whatsapp</mat-icon>
          <mat-error
            class="alerta"
            *ngIf="
              secondFormGroup.controls['phoneNumberStore'].hasError('required')
            "
          >
            Campo requerido
          </mat-error>
          <mat-error
            class="alerta"
            *ngIf="
              secondFormGroup.controls['phoneNumberStore'].hasError('pattern') ||
              secondFormGroup.controls['phoneNumberStore'].hasError('minlength') 
            "
          >
            Ingrese un número de teléfono válido. Recuerde incluir el código de
            país.
          </mat-error>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Atr&aacute;s</button>
          <button
            mat-raised-button
            color="primary"
            matStepperNext
            (click)="createStore()"
            [disabled]="secondFormGroup.invalid"
          >
            Empezar
          </button>
        </div>
      </form>
    </mat-step>
  </mat-stepper>
</p>
<app-spinner [showSpinner]="showSpinner"></app-spinner>
