.margin-top {
  margin: 20px;
  text-align: center;
}
.icon-display {
  font-size: 50px;
  color: #3F51B5;
  text-align: center;
}
.container-store   {
  display: inline-block;
}
.card-store{
  margin: 5px;
  width: 200px;
  height: 400px;
  border: solid 4px steelblue;
}