.docs-footer {
  font-size: 12px;
  width: 100%;
  height: auto;
  display: block;
  text-align: center;
}
.docs-footer-list {
  padding: 8px;
  width: 100%;
}
.docs-footer-logo {
}
.docs-footer-version {
}
.docs-footer-copyright {
}
a:link, a:visited, a:active  {
  text-decoration: none;
  color: #fff;
}

@media (min-width: 980px) {
  .docs-footer {
    display: inline-flex;
  }
  .docs-footer-list {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
