.contenedor-registro {
  margin: 20px;
  text-align: center;
  .icon-card {
    font-size: 100px;
    width: 100px;
    height: 100px;
  }
  .campos {
    display: flex;
    justify-content: center;
    .botones {
      text-align: center;
    }
    .full-width {
      width: 100%;
    }
    .text-action {
      margin: 2rem;
    }
  }
}



.botones {
}
.full-width {
  width: 100%;
}
.registro-card {
}

.header-card, .links {
  margin: 10px 0 20px;
}