.contenedor {
  margin: 20px;
  text-align: center;
  .icon-card {
    font-size: 100px;
    width: 100px;
    height: 100px;
  }
  .campos {
    display: flex;
    justify-content: center;
    .botones {
      text-align: center;
    }
    .full-width {
      width: 100%;
    }
    .alerta {
      text-align: right;
    }
    .text-action {
      margin: 2rem;
    }
  }
}
.btn-google,
.btn-microsoft,
.btn-facebook {
  width: 100%;
  color: #fff;
  border-radius: 5px;
}
.btn-google {
  background-color: #dd4b36;
}
.btn-microsoft {
  color: #000;
}

.btn-facebook {
  background-color: #3b5998;
}
