<mat-card (click)="detailsProduct()" class="card--product">
  <div class="crop-image">
    <img mat-card-image [src]="product.image" [alt]="product.title">
  </div>
  <div class="card--cotenedor--product">
    <div class="card--text">
      <mat-card-title>{{ product.title }}</mat-card-title>
      <mat-card-subtitle>{{ product.price | currency}}</mat-card-subtitle>
    </div>
    <div class="card--btns">
      <button class="btn--float" mat-mini-fab color="accent" (click)="addCart()" aria-label="Agregar al carrito de compras">
        <mat-icon>shopping_cart</mat-icon>
      </button>
    </div>
  </div>
</mat-card>