<mat-card>
<footer>
  <div class="display-flex-footer">
    <article>
      <h4>By SuperStoreEc</h4>
    </article>
    <article>
      Haz clic en <b>Crear</b> y obtén tu tienda web GRATIS!
      <a routerLink="/">Saber más</a>
      <p>
        <button mat-stroked-button color="accent" routerLink="/user/register">Crear tienda</button>
      </p>
    </article>
    <article>
      <div hidden>
        <mat-icon>tiktok</mat-icon>
        <mat-icon>face</mat-icon>
        <mat-icon>shop</mat-icon>
      </div>
      <ul>
          <li>
            <a routerLink="terminos-servicio">Términos de servicio</a>
          </li>
          <li>
            <a routerLink="politica-privacidad">Política de privacidad</a>
          </li>
      </ul>
    </article>
  </div>
</footer>
</mat-card>